<div id="{{id}}{{name}}" class="modal">
    <div class="modal__content">
        <div class="modal__header">
            <span class="modal__btn-back" id="{{id}}{{name}}Back">
                <i class="arrow-left"></i>
            </span>
            <span class="modal__title">{{title}}</span>
            <span class="modal__btn-close" id="{{id}}{{name}}Close">
                <i class="close"></i>
            </span>
        </div>
        <div class="modal__body" id="{{id}}{{name}}Body">
            {{!-- основная часть --}}
        </div>
        <div class="modal__footer" id="{{id}}{{name}}Footer">
            {{!-- фууутер --}}
        </div>
    </div>
</div>