<div class="ann">
    <div class="ann-img">
        <img src="images/{{src}}" alt="">
    </div>
    <div class="ann-body">
        <div class="ann-category">{{category}}</div>
        <div class="ann-title">{{title}}</div>
        <div class="ann-sale">{{price}} ₽</div>
        <div class="ann-address">{{address}}</div>
    </div>
</div>