<div class="announcement-card">
    <div class="announcement-card__img">
        <img src="images/{{src}}" alt="">
    </div>
    <div class="announcement-card__content">
        <div class="announcement-card__category">{{category}}</div>
        <div class="announcement-card__title">{{title}}</div>
        <div class="announcement-card__sale">{{price}} ₽</div>
        <div class="announcement-card__address">{{address}}</div>
    </div>
</div>