<h1 class="announcement-price">{{price}} ₽</h1>
<a href="/seller/{{sellerId}}" class="announcement-avatar">
    <img src="{{sellerAvatar}}" alt="" class="announcement-avatar__img">
    {{sellerName}}
</a>
<p class="address">{{address}}</p>
<div class="basket-button"></div>
<p class="announcement-description">{{description}}</p>

{{!-- 
<table style="border-spacing: 2vw;">
    <tr>
        <td class="announcement-characteristics__key">
            Теги
        </td>
        <td class="announcement-characteristics__value">
            {{tags}}
        </td>
    </tr>
    <tr>
        <td class="announcement-characteristics__key">
            Описание
        </td>
        <td class="announcement-characteristics__value">
            {{description}}
        </td>
    </tr>
    <tr>
        <td class="announcement-characteristics__key">
            Цена
        </td>
        <td class="announcement-characteristics__value">
            {{price}}
        </td>
    </tr>
</table> --}}
