<h1 class="announcement-price">{{price}} ₽</h1>
<a href="/seller/{{sellerId}}" class="announcement-avatar">
    <img src="{{sellerAvatar}}" alt="" class="announcement-avatar__img">
    {{sellerName}}
</a>
<p class="address">{{address}}</p>
<div class="basket-button"></div>
<pre style="white-space: pre-wrap"><p class="announcement-description">{{description}}</p></pre>