{{#if close}}
<h1 class="announcement-price">{{price}} ₽</h1>
{{else}}
<h1 class="announcement-price">Объявление закрыто</h1>
{{/if}}
<a href="/seller/{{sellerId}}" class="announcement-avatar">
    <img src="{{sellerAvatar}}" alt="" class="announcement-avatar__img">
    {{sellerName}}
</a>
<div class="button-place"></div>
<p class="announcement-views">{{views}} {{viewDict}} <span style="color: var(--success-color)">просмотрели</span> это объявление</p>
<pre style="white-space: pre-wrap"><p class="announcement-description">{{description}}</p></pre>