<div class="ann-info">
    <h1 class="announcement-price">{{price}} ₽</h1>
    <a href="/seller/{{sellerId}}" class="announcement-avatar">
        <img src="{{sellerAvatar}}" alt="" class="announcement-avatar__img">
        {{sellerName}}
    </a>
</div>
<pre class="announcement-predescription" style="white-space: pre-wrap"><p class="announcement-description">{{description}}</p></pre>