<h3 class="announcement-preview__title">{{title}}</h3>

<table style="border-spacing: 2vw;">
    <tr>
        <td class="announcement-preview__key">
            Категория
        </td>
        <td class="announcement-preview__category">
            {{category}}
        </td>
    </tr>
    <tr>
        <td class="announcement-preview__key">
            Описание
        </td>
        <td class="announcement-preview__description">
            {{description}}
        </td>
    </tr>
    <tr>
        <td class="announcement-preview__key">
            Цена
        </td>
        <td class="announcement-preview__price">
            {{price}}
        </td>
    </tr>
    <tr>
        <td class="announcement-preview__key">
            Адрес
        </td>
        <td class="announcement-preview__address">
            {{address}}
        </td>
    </tr>
</table>
