<div class="purchase-card" id="{{id}}">
    <div class="purchase-card__content">
        <div>
        {{#each images}}
        <img class="purchase-card__img" src="{{this}}" alt="">
        {{/each}}
        </div>
        <a class="purchase-card__title" href="{{href}}">{{title}}</a>
        <div class="purchase-card__sale">{{price}} ₽</div>
        <div class="purchase-card__close"></div>
    </div>
</div>