<link rel="stylesheet" href="shared/ui/button/Button.css">

<button
    id="{{id}}"
    class="{{class}}"
    {{#if disabled}} disabled {{/if}}
    {{!-- {{#if type}} type="{{type}}" {{/if}} --}}
    {{#if form}} form="{{form}}" name="submit" type="submit" {{/if}}>
    {{#if srcIcon}}
        <img class="button__icon" src="{{icon}}" alt="icon">
    {{/if}}
    {{#if cssIcon}}
        <i class="{{cssIcon}}"></i>
    {{/if}}
    {{text}}
</button>