<div id="{{id}}{{name}}" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="back-btn pointer" id="{{id}}{{name}}Back"><i class="arrow-left"></i></span>
            <span class="modal-title">{{title}}</span>
            <span class="close-btn pointer" id="{{id}}{{name}}Close"><i class="close"></i></span>
        </div>
        <div class="modal-body" id="{{id}}{{name}}Body">
            {{!-- основная часть --}}
        </div>
        <div class="modal-footer" id="{{id}}{{name}}Footer">
            {{!-- фууутер --}}
        </div>
    </div>
</div>